%horizontal-list {
  // list of items, layed out horizontaly with borders in between them
  font-size: $nav-font-size;
  font-weight: normal;
  @include clearfix();
  margin: 0;
  li {
    font-weight: 400;
    color: $white;
    float: left;
    padding: 0 10px;
    border-right: 1px solid $white;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
  a {
    color: $white;
    &:hover {
      color: $light-grey;
    }
  }
}

%horizontal-list-dark {
  // dark text version of horizontal-list
  @extend %horizontal-list;
  li {
    color: $black;
    border-right-color: $black;
  }
  a {
    color: $black;
    &:hover {
      color: $primary-color;
    }
  }
}

%reset-list {
  // removes margins, padding, and list style, links decoration of lists. Great for navigation
  margin: 0;
  list-style: none;
  padding-left: 0;
  a {
    text-decoration: none;
  }
}
