%horizontal-list {
  font-size: $nav-font-size;
  font-weight: normal;
  @include clearfix();
  margin: 0;
  li {
    font-weight: 100;
    color: $white;
    float: left;
    padding: 0 10px;
    border-right: 1px solid $white;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
  a {
    color: inherit;
  }
}


%reset-list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  a {
    text-decoration: none;
  }
}
