%inverted-title {
  // white text on primary-color background
  color: $white;
  background: $primary-color;
  font-size: $upper-header-font-size;
  font-weight: 400;
  text-transform: uppercase;
  line-height: pem(35, 12);
  margin: 0 0 pem(20);
  padding: 0 pem(15);
}

%inverted-title-offset {
  // moves the title to the left, and puts ribbon effect on it
  position: relative;
  margin-left: -33px;
  &:after {
    content: "";
    @include get-sprite(blue-shadow, false);
    position: absolute;
    bottom: (image-height('sprites/blue-shadow.png') * -1 );
    left: 0;
  }
  .lt-ie8 & {
    margin-left: 0;
    position: static;
  }
}

%sidebar-title {
  color: $black;
  font-size: $upper-header-font-size;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: pem(10);
  margin: 0 0 pem(10);
  border-bottom: 1px solid $black;
  line-height: 1;
}


%secondary-title {
  // article title, category sub-title.
  margin: 0 0 pem(12);
  color: $black;
  font-size: $header-font-size;
  font-weight: bold;
  // in case the title includes a link
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      color: $primary-color;
    }
  }
}

%hero-primary-title {
  display: block;
  color: $black;
  font-size: pem(24);
  font-weight: bold;
  &:hover {
    color: $primary-color;
  }
}

%hero-secondary-title {
  display: block;
  color: $black;
  font-size: pem(14);
  font-weight: 400;
}
