header {
  position: relative;
  // did not follow grid, so magic number layout
  .search-links {
    position: absolute;
    right: 0;
    top: pem(30);
  }
  .search-container {
    // magic number to match mock
    width: pem(260);
  }
}
