// <a href="#" class="logo">Crispin & Mulberry <span class="tag-line">World Travelers</span></a>
// <aside class="search-links">
//   <input class="site-search">
//   <nav class="secondary-links">
//    <ul>
//      <li><a href="#" class="navigation-link">My Account</a></li>
//      <li><a href="#" class="navigation-link">My Subscriptions</a></li>
//      <li><a href="#" class="navigation-link">My Articles</a></li>
//    </ul>

//   </nav>
// </aside>

header {
  position: relative;
  .search-links {
    position: absolute;
    right: 0;
    top: pem(30);
  }
}
