.hero {
  @include container;
  .hero-slider {
    @include span-columns(7);
  }
  .slider-items {
    position: relative;
  }
  .slider-item {
    // to collapse all items on top of each other
    position: absolute;
  }
  .slider-navigation {
    li {
      @include span-columns(2,8);
      @include nth-omega(4n);
      .lt-ie8 & {
        // lack of box-sizing means ie7 needs a fixed, smaller number
        width: 22%;
      }
    }
  }
  .ad-block {
    @include span-columns(3 omega);
  }
}


