.page {
  max-width: pem(1000);
  margin: 0 auto;
}

header {
}

nav {

}

.hero {
  @include container;
  .hero-slider {
    @include span-columns(7);
  }
  .ad-block {
    @include span-columns(3 omega);
  }
}

.content {
  @include container;
}

.main-content {
  @include span-columns(7);
  .browse-categories {
    @include span-columns(2,7);
  }
  .recent-articles {
    @include span-columns(5 omega,7);
  }
  .popular-videos {
    clear: both
  }
}

.secondary-content {
  @include span-columns(3 omega);
}

footer {
  @include container;
}
