.page {
  width: pem(1000); // change to max-width to start building responsive layouts
  margin: 0 auto;
}

// container for main and sidebar content
.content {
  @include container;
}

// container for all main content
.main-content {
  @include span-columns(7);
}

.main-content-related {
  @include span-columns(2,7);
}
.main-content-primary {
  @include span-columns(5 omega,7);
}
.main-content-tertiary {
  clear: both
}

.sidebar-content {
  @include span-columns(3 omega);
}

footer {
  @include container;
}
