body {
  background: url('/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.page {

}

header {
}

nav {
}

.hero {
  background: #fff;
   .hero-slider {
  }
  .ad-block {
  }
}

.content {
  background: #fff;
}

.main-content {
  .browse-categories {
  }
  .recent-articles {
  }
}

.secondary-content {
  background: #fff;
}

footer {
  background: #2c2c2c;
}
