.wrapper {
  background-image: url('/img/background.jpg');
  background-position: top center;
  background-size: cover;
}

// slider and ad container
.hero {
  background: #fff;
  padding: pem(20) 0;
  position: relative;
  &:before {
    content: "";
    background: $grey;
    bottom: 0;
    left: $grid-padding;
    right: $grid-padding;
    height: 1px;
    position: absolute;
  }
  .lt-ie8 & {
    clear: both;
  }
}

// main and sidebar content container
.content {
  padding-top: pem(20);
  background: #fff;
}

footer {
  background: #2c2c2c;
}
