.current-contests {
  @extend %sidebar-box;
  margin-bottom: pem(20);
  .title {
    @extend %sidebar-title;
    @include get-sprite(trophy, true, 2);
    margin-bottom: pem(15);
  }
  .contests {
    // @TODO better solution needed for IE7 bug, had to give fixed height for now
    .lt-ie8 &{
      height: 110px;
    }
  }
  .contest {
    margin-bottom: pem(10);
    &:last-child {
      margin-bottom: 0;
    }
  }
  .contest-link {
    @extend %heavy-copy-links;
  }
  .contest-description {
    // removing some of the p margin, setting bottom
    margin-bottom: 0 0 pem(10);
  }
}
