footer {
  padding: pem(15) 0;
}

.privacy-terms-copyright {
  .tertiary-links {
    margin-bottom: pem(10);
    @extend %reset-list;
    @extend %horizontal-list;
  }
  .footer-info{
    clear: both;
    @extend %reset-list;
    @extend %horizontal-list;
    li {
      // override the horizontal-list colors
      color: $grey;
      border-color: $grey;
    }
  }
}

.social-links {
  ul {
    padding-top: pem(7); // little fudge for vertical centering
    @extend %reset-list;
    a {
      @include hide-text();
    }
    .social-facebook {
      @include get-sprite(facebook);
    }
    .social-flickr {
      @include get-sprite(flickr);
    }
    .social-twitter {
      @include get-sprite(twitter);
    }
    .social-vimeo {
      @include get-sprite(vimeo);
    }
    .social-rss {
      @include get-sprite(rss);
    }
  }
}
