// <a href="#" class="logo">Crispin & Mulberry <span class="tag-line">World Travelers</span></a>
// <aside class="search-links">
//   <div class="search-container">
//     <form>
//       <input class="site-search" placeholder="search">
//     </form>
//   </div>
//   <nav class="secondary-links">
//    <ul>
//      <li><a href="#" class="navigation-link">My Account</a></li>
//      <li><a href="#" class="navigation-link">My Subscriptions</a></li>
//      <li><a href="#" class="navigation-link">My Articles</a></li>
//    </ul>

//   </nav>
// </aside>

header {
  padding: pem(20) 0;
  .search-container {
    position: relative;
    &:after {
      content: "";
      @include get-sprite(search);
      position: absolute;
      top: pem(7);
      right: pem(7);
    }
  }
  .site-search {
    @extend %text-input-field;
  }
  .logo {
    @include hide-text;
    @include get-sprite(logo);
    display: block;
  }
  .secondary-links ul{
    margin-top: pem(18);
    @extend %reset-list;
    @extend %horizontal-list;
  }
}
