// <a href="#" class="logo">Crispin & Mulberry <span class="tag-line">World Travelers</span></a>
// <aside class="search-links">
//   <input class="site-search">
//   <nav class="secondary-links">
//    <ul>
//      <li><a href="#" class="navigation-link">My Account</a></li>
//      <li><a href="#" class="navigation-link">My Subscriptions</a></li>
//      <li><a href="#" class="navigation-link">My Articles</a></li>
//    </ul>

//   </nav>
// </aside>

header {
  padding: pem(20) 0;
  .search-container {
    position: relative;
    &:after {
      content: "";
      @extend .sprites-search;
      @include get-img-size('sprites/search.png');
      position: absolute;
      top: pem(5);
      right: pem(5);
    }
  }
  .logo {
    @include hide-text;
    @extend .sprites-logo;
    @include get-img-size('sprites/logo.png');
    display: block;
  }
  .secondary-links ul{
    @extend %reset-nav;
  }
}
