header {
  padding: pem(20) 0;
  .search-container {
    position: relative;
    @include get-sprite(search, true, 7);
    // move search icon to right side
    &:before {
      position: absolute;
      right: 0;
    }
  }
  .site-search {
    @extend %text-input-field;
  }
  .logo {
    @include hide-text;
    @include get-sprite(logo);
    // anchor tag needs to be block
    display: block;
  }
  .secondary-links ul{
    margin-top: pem(18);
    @extend %reset-list;
    @extend %horizontal-list;
  }
}
