.main-navigation {
  ul {
    @extend %reset-list;
    @include clearfix;
    background: $light-grey; // fallback
    @include background(linear-gradient(lighten($light-grey,15%), darken($light-grey, 0)));
  }
  li {
    // layout
    float: left;
    width: 16.6667%;
  }
  .navigation-link {
    @extend %main-nav-link;
    text-align: center;
    line-height: pem(38, 12);
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    &:hover {
      background: darken($light-grey,5%); // fallback
      background: rgba($black, .1);
    }
    &.active {
      border-left: 1px solid #bdbdbd;
      border-right: 1px solid #bdbdbd;
      border-bottom: 0 solid $white; // remove bottom border
      background: $white;
      position: relative;
      top: 1px; // move down to make white and white match up
      padding-top: 7px; // pushing the link above the nav bar
      margin-top: -7px;
    }

  }
  .lt-ie8 &{
    li {
      background: $light-grey;
      width: 166.6px;
    }
  }
}
