.popular-videos {
  .title {
    @extend %inverted-title;
    @extend %inverted-title-offset;
    @include get-sprite(video, true, 1);
  }
  .videos ul {
    @extend %reset-list;
  }
  .videos li {
    margin-bottom: pem(15);
  }
  .video {
    display: block;
  }
  .description {
    line-height: pem(40,13);
    font-size: pem(13);
    padding: 0 pem(15);
    background: $white;
    background: rgba($white, .7);
    color: $black;
    font-weight: bold;
  }
}
