.popular-videos {
  .title {
    @extend %inverted-title;
    @extend %inverted-title-offset;
    @include get-sprite(video, true, 1);
  }
  .videos ul {
    @extend %reset-list;
  }
  .videos li {
    margin-bottom: pem(15);
    position: relative;
    @include get-sprite(play-button, true);
    &:before {
      pointer-events:none;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 10;
      margin-left: (image-width('sprites/play-button.png') * -.5 );
      margin-top: (image-height('sprites/play-button.png') * -.5 );
    }
  }
  .video, img {
    display: block; // anchor tag and image needs to be display block;
  }
  .description {
    @extend %video-link;
    @extend %image-overlay;
    line-height: pem(40,13);
    padding: 0 pem(15);
  }
}
